---
layout: blog
title: Concat
header: Pages
title_cn : 联系我们
---
{% include JB/setup %}



<div class="col-md-8 blog-posts">
	<div class="row">
		<div class="col-md-12">
			<div class="contact-wrapper">
			    <h3>服务范围</h3>
			    <p>关于网站的使用问题、改进建议，或举报不良信息.</p>
				<h3>Email</h3>
				<p>kf@ytaoer.com</p>
				<h3>评论</h3>
				<p>大家有什么可以在此页留言？不要发一些敏感话题</p>
			</div>
			 {% include themes/medigo/duoshuo.html %}
			<!-- /.contact-wrapper -->
		</div>
		<!-- /.col-md-12 -->
	</div>
	<!-- /.row -->
</div>
<!-- /.col-md-8 -->