<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">
<head>
    {% include themes/medigo/meta.html %}
</head>
<body>
{% include themes/medigo/header.html %}

{% include themes/medigo/parallax.html %}

<div class="container">
    <div class="row">
        <div class="col-md-8 blog-posts">
            <div class="row">
                <div class="col-md-12">
                    {{ content }}
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-md-8 -->
        {% include themes/medigo/right.html %}
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

{% include themes/medigo/footer.html %}
</body>
</html>