<footer class="site-footer">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <nav class="footer-nav clearfix">
                              <ul class="footer-menu">
                                    <li><a href="/index.html">Home</a></li>
                                    <!--<li><a href="#">Portfolio</a></li>-->
                                    <li><a href="/blog/index.html">Blog</a></li>
                                    <!--<li><a href="#">Shortcodes</a></li>-->
                                    <li><a href="#">Contact</a></li>
                              </ul>
                            <ul class="sn" style="text-align: center; margin-top: 30px;">
                                <li><a href="http://weibo.com/superbugs" target="_blank" title="新浪微博"><span class="icon-img weibo"></span></a></li>
                                <li><a href="https://github.com/sunfuchang" target="_blank" title="GitHub"><span class="icon-img github"></span></a></li>
                                <li><a href="http://blog.sina.com.cn/superbugs" target="_blank" title="新浪博客"><span class="icon-img blog"></span></a></li>
                                <li><a href="https://twitter.com/sunfuchang" target="_blank" title="Twitter"><span class="icon-img twitter"></span></a></li>
                            </ul>
                              <!-- /.footer-menu -->
                        </nav>
                        <!-- /.footer-nav -->
                  </div>
                  <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                  <div class="col-md-12">
                        <p class="copyright-text">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}，{{ site.author.email }}</p>
                  </div>
                  <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
      </div>
      <!-- /.container -->
</footer>
<!-- /.site-footer -->

<!-- Scripts -->
<script src="{{ASSET_PATH}}/js/min/plugins.min.js"></script>
<script src="{{ASSET_PATH}}/js/min/medigo-custom.min.js"></script>

<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<!-- Templatemo Script -->

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?7f4b9df646e2d704fdc6bb9cf7f261fb";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    // 多说公共JS代码 start (一个网页只需插入一次)
    var duoshuoQuery = {short_name:"sunfuchang"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();

    $(document).ready(function(){
        $("h2,h3,h4,h5,h6", ".blog-posts").each(function(i,item){
            var tag = $(item).get(0).localName;
            $(item).attr("id","toc"+i);
            $(".toc-content").append('<a class="toc'+tag+'" href="#toc'+i+'">'+$(this).text()+'</a></br>');
            $(".toch2").css("margin-left",0);
            $(".toch3").css("margin-left",20);
            $(".toch4").css("margin-left",40);
            $(".toch5").css("margin-left",60);
            $(".toch6").css("margin-left",80);
        });
    });
</script>