<div class="responsive_menu">
      <ul class="main_menu">
            <li><a href="/index.html">Home</a></li>
            <!--<li><a href="#">Portfolio</a></li>-->
            <li><a href="/blog/index.html">Blog</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/concat.html">Contact</a></li>
      </ul>
      <!-- /.main_menu -->
</div>
<!-- /.responsive_menu -->

<header class="site-header clearfix">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <div class="pull-left logo">
                              <a href="index.html" style="font-size: 1.8em!important; font-weight: bold; font-family: sans-serif;">
                                    <img src="{{ ASSET_PATH }}/images/favicon.ico" style="width: 12%;" alt="Medigo by templatemo">
                                    {{site.title}}
                              </a>
                        </div>
                        <!-- /.logo -->

                        <div class="main-navigation pull-right">
                              <nav class="main-nav visible-md visible-lg">
                                    <ul class="sf-menu">
                                          <li class="{% if page.title == 'Home' %} active {% endif %}"><a href="/index.html">Home</a></li>
                                          <!--<li><a href="#">Portfolio</a></li>-->
                                          <!-- 添加分页后，index。html -->
                                          <li class="{% if page.title == 'Blog' or (page.title != 'Home' and page.title != 'Concat' and page.title != 'About') %} active {% endif %}"><a href="/blog/index.html">Blog</a></li>
                                          <li class="{% if page.title == 'About' %} active {% endif %}"><a href="/about.html">About</a></li>
                                          <li class="{% if page.title == 'Concat' %} active {% endif %}"><a href="/concat.html">Contact</a></li>
                                    </ul>
                                    <!-- /.sf-menu -->
                              </nav>
                              <!-- /.main-nav -->
                              <!-- This one in here is responsive menu for tablet and mobiles -->
                              <div class="responsive-navigation visible-sm visible-xs">
                                    <a href="#nogo" class="menu-toggle-btn">
                                          <i class="fa fa-bars"></i>
                                    </a>
                              </div>
                              <!-- /responsive_navigation -->
                        </div>
                        <!-- /.main-navigation -->
                  </div>
                  <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
      </div>
      <!-- /.container -->
</header>
<!-- /.site-header -->