<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">
<head>
{% include themes/medigo/meta.html %}
</head>

<body>
{% include themes/medigo/header.html %}

<section id="homeIntro" class="parallax first-widget">
    <div class="parallax-overlay">
        <div class="container home-intro-content">
            <div class="row">
                <div class="col-md-12">
                    <h2>用心让宝宝过得更好 给予宝宝更好的爱 </h2>

                    <p>带着宝宝一起探索世界，时尚、备孕、早教、育儿、塑身、包罗万象的育儿知识尽在这里。</p>
                  <!--   <a href="#" class="large-button white-color">Download Free <i
                            class="icon-button fa fa-download"></i></a> -->
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.parallax-overlay -->
</section>
<!-- /#homeIntro -->
{% include themes/medigo/footer.html %}
</body>
</html>