<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">
<head>
    {% include themes/medigo/meta.html %}
    <meta name="baidu-site-verification" content="ReiTGs4akh" />
</head>

<body>
{% include themes/medigo/header.html %}

<section id="homeIntro" class="parallax first-widget">
    <div class="parallax-overlay">
        <div class="container home-intro-content">
            <div class="row">
                <div class="col-md-12">
                    <h2>--用心让宝宝过得更好--给予宝宝更好的爱</h2>

                    <p>我们是来自“半月园”宝妈们，带着宝宝一起探索世界，时尚、备孕、早教、育儿、塑身…包罗万象的辣妈知识尽在这里。</p>
                  <!--   <a href="#" class="large-button white-color">Download Free <i
                            class="icon-button fa fa-download"></i></a> -->
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.parallax-overlay -->
</section>
<!-- /#homeIntro -->
<section class="cta clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="cta-title"><strong>我们是谁?</strong> 来“半月园”来了解吧，一个辣妈和宝宝的集中地</h4>
               <!--  <a href="#" class="main-button accent-color">Visit templatemo<i
                        class="icon-button fa fa-arrow-right"></i></a> -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.cta -->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/">手机网站模板</a></div>
<section class="light-content services">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-4">
                <div class="service-box-wrap">
                    <div class="service-icon-wrap">
                        <i class="fa fa-umbrella fa-2x"></i>
                    </div>
                    <!-- /.service-icon-wrap -->
                    <div class="service-cnt-wrap">
                        <h3 class="service-title">宝宝的保护伞</h3>

                        <p>这里有丰富经验的辣妈给准爸妈提供育儿经</p>
                    </div>
                    <!-- /.service-cnt-wrap -->
                </div>
                <!-- /.service-box-wrap -->
            </div>
            <!-- /.col-md-4 -->

            <div class="col-md-4 col-sm-4">
                <div class="service-box-wrap">
                    <div class="service-icon-wrap">
                        <i class="fa fa-mobile-phone fa-2x"></i>
                    </div>
                    <!-- /.service-icon-wrap -->
                    <div class="service-cnt-wrap">
                        <h3 class="service-title">沟通的力量</h3>

                        <p>加入我们的QQ群和微信群交流不一样的育儿知识</p>
                    </div>
                    <!-- /.service-cnt-wrap -->
                </div>
                <!-- /.service-box-wrap -->
            </div>
            <!-- /.col-md-4 -->

            <div class="col-md-4 col-sm-4">
                <div class="service-box-wrap">
                    <div class="service-icon-wrap">
                        <i class="fa fa-pencil-square-o fa-2x"></i>
                    </div>
                    <!-- /.service-icon-wrap -->
                    <div class="service-cnt-wrap">
                        <h3 class="service-title">发表您的看法</h3>

                        <p>不要吝啬你的育儿经，把他们分享出来，让大家一起收益</p>
                    </div>
                    <!-- /.service-cnt-wrap -->
                </div>
                <!-- /.service-box-wrap -->
            </div>
            <!-- /.col-md-4 -->

        </div>

        <div class="row">

            <div class="col-md-4 col-sm-4">
                <div class="service-box-wrap">
                    <div class="service-icon-wrap">
                        <i class="fa fa-code fa-2x"></i>
                    </div>
                    <!-- /.service-icon-wrap -->
                    <div class="service-cnt-wrap">
                        <h3 class="service-title">讲出那写劣质产品</h3>

                        <p>共同分享那些不适合宝宝的产品，让这些见鬼去吧</p>
                    </div>
                    <!-- /.service-cnt-wrap -->
                </div>
                <!-- /.service-box-wrap -->
            </div>
            <!-- /.col-md-4 -->

            <div class="col-md-4 col-sm-4">
                <div class="service-box-wrap">
                    <div class="service-icon-wrap">
                        <i class="fa fa-eye-slash fa-2x"></i>
                    </div>
                    <!-- /.service-icon-wrap -->
                    <div class="service-cnt-wrap">
                        <h3 class="service-title">不要被蒙蔽了双眼</h3>

                        <p>万恶的资本家是唯利是图，不要让他们的宣传语欺骗</p>
                    </div>
                    <!-- /.service-cnt-wrap -->
                </div>
                <!-- /.service-box-wrap -->
            </div>
            <!-- /.col-md-4 -->

            <div class="col-md-4 col-sm-4">
                <div class="service-box-wrap">
                    <div class="service-icon-wrap">
                        <i class="fa fa-suitcase fa-2x"></i>
                    </div>
                    <!-- /.service-icon-wrap -->
                    <div class="service-cnt-wrap">
                        <h3 class="service-title">辣妈百宝箱</h3>

                        <p>宝宝发育迟？宝宝红屁股，看看其他辣妈怎么说</p>
                    </div>
                    <!-- /.service-cnt-wrap -->
                </div>
                <!-- /.service-box-wrap -->
            </div>
            <!-- /.col-md-4 -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.services -->

<!-- <section class="dark-content portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2 class="section-title">Our Lovely Portfolio</h2>

                    <p class="section-desc">Everything you need to create a professional website.</p>
                </div>
                /.section-header
            </div>
            /.col-md-12
        </div>
        /.row
    </div>
    /.container

    <div id="portfolio-carousel" class="portfolio-carousel portfolio-holder">
        <div class="item">
            <div class="thumb-post">
                <div class="overlay">
                    <div class="overlay-inner">
                        <div class="portfolio-infos">
                            <span class="meta-category">Dashboard Template</span>

                            <h3 class="portfolio-title"><a href="project-slideshow.html">Visual Admin</a></h3>
                        </div>
                        <div class="portfolio-expand">
                            <a class="fancybox" href="{{ ASSET_PATH }}/images/includes/project1.jpg" title="Visual Admin">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <img src="{{ ASSET_PATH }}/images/includes/project1.jpg" alt="Visual Admin">
            </div>
        </div>
        /.item
        <div class="item">
            <div class="thumb-post">
                <div class="overlay">
                    <div class="overlay-inner">
                        <div class="portfolio-infos">
                            <span class="meta-category">Mobile Ready</span>

                            <h3 class="portfolio-title"><a href="project-slideshow.html">Compass Template</a></h3>
                        </div>
                        <div class="portfolio-expand">
                            <a class="fancybox" href="{{ ASSET_PATH }}/images/includes/project2.jpg" title="Compass Template">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <img src="{{ ASSET_PATH }}/images/includes/project2.jpg" alt="Compass Template">
            </div>
        </div>
        /.item
        <div class="item">
            <div class="thumb-post">
                <div class="overlay">
                    <div class="overlay-inner">
                        <div class="portfolio-infos">
                            <span class="meta-category">Responsive Design</span>

                            <h3 class="portfolio-title"><a href="project-slideshow.html">Awesome Theme</a></h3>
                        </div>
                        <div class="portfolio-expand">
                            <a class="fancybox" href="{{ ASSET_PATH }}/images/includes/project3.jpg" title="Awesome Theme">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <img src="{{ ASSET_PATH }}/images/includes/project3.jpg" alt="Awesome Theme">
            </div>
        </div>
        /.item
        <div class="item">
            <div class="thumb-post">
                <div class="overlay">
                    <div class="overlay-inner">
                        <div class="portfolio-infos">
                            <span class="meta-category">Portfolio</span>

                            <h3 class="portfolio-title"><a href="project-slideshow.html">Volton Personal Site</a></h3>
                        </div>
                        <div class="portfolio-expand">
                            <a class="fancybox" href="{{ ASSET_PATH }}/images/includes/project4.jpg" title="Volton Personal Site">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <img src="{{ ASSET_PATH }}/images/includes/project4.jpg" alt="Volton Personal Site">
            </div>
        </div>
        /.item
        <div class="item">
            <div class="thumb-post">
                <div class="overlay">
                    <div class="overlay-inner">
                        <div class="portfolio-infos">
                            <span class="meta-category">Green</span>

                            <h3 class="portfolio-title"><a href="project-slideshow.html">Rectangle Design</a></h3>
                        </div>
                        <div class="portfolio-expand">
                            <a class="fancybox" href="{{ ASSET_PATH }}/images/includes/project5.jpg" title="Rectangle Design">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <img src="{{ ASSET_PATH }}/images/includes/project5.jpg" alt="Rectangle Design">
            </div>
        </div>
        /.item
        <div class="item">
            <div class="thumb-post">
                <div class="overlay">
                    <div class="overlay-inner">
                        <div class="portfolio-infos">
                            <span class="meta-category">Portfolio</span>

                            <h3 class="portfolio-title"><a href="project-slideshow.html">Masonry Gallery</a></h3>
                        </div>
                        <div class="portfolio-expand">
                            <a class="fancybox" href="{{ ASSET_PATH }}/images/includes/project6.jpg" title="Masonry Gallery">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <img src="{{ ASSET_PATH }}/images/includes/project6.jpg" alt="Masonry Gallery">
            </div>
        </div>
        /.item
        <div class="item">
            <div class="thumb-post">
                <div class="overlay">
                    <div class="overlay-inner">
                        <div class="portfolio-infos">
                            <span class="meta-category">Branding / Identity</span>

                            <h3 class="portfolio-title"><a href="project-slideshow.html">Gloss Template</a></h3>
                        </div>
                        <div class="portfolio-expand">
                            <a class="fancybox" href="{{ ASSET_PATH }}/images/includes/project7.jpg" title="Gloss Template">
                                <i class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <img src="{{ ASSET_PATH }}/images/includes/project7.jpg" alt="Gloss Template">
            </div>
        </div>
        /.item
    </div>
    /#owl-demo
</section> -->
<!-- /.portfolio-holder -->

<!-- <section class="testimonials-widget">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bxslider">
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <span class="testimonial-author">Andy Colin - Architect</span>

                            <p class="testimonial-description">Thank you for all your good work in creating theme. They
                                have a ‘presence’ which feels right.</p>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <span class="testimonial-author">Thomas Teddy - Design Writer</span>

                            <p class="testimonial-description">I love the logo. Particularly how the mark can stand on
                                its own. Nice work! It feels tall and proud and powerful — and I love that. That’s what
                                I was after.</p>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <span class="testimonial-author">John Willy - Developer</span>

                            <p class="testimonial-description">You’re pretty awesome to work with. Incredibly organized,
                                easy to communicate with, responsive with next iterations, and beautiful work.</p>
                        </div>
                    </div>
                </div>
                /.bxslider
            </div>
            /.col-md-12
        </div>
        /.row
    </div>
    /.container
</section> -->
<!-- /.testimonials-widget -->

<section class="light-content our-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2 class="section-title">宝妈风采</h2>

                    <p class="section-desc">呵呵</p>
                </div>
                <!-- /.section-header -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <div class="team-members">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="team-member">
                        <div class="thumb-post">
                            <img src="{{ ASSET_PATH }}/images/includes/member1.jpg" alt="">
                            <span class="member-role">Marketing Manager</span>
                        </div>
                        <div class="member-content">
                            <h4 class="member-name">Amy Groovy</h4>

                            <p>Duis vitae consequat neque. Nulla pharetra eleifend nulla. </p>
                        </div>
                    </div>
                    <!-- /.team-member -->
                </div>
                <!-- /.col-md-4 -->

                <div class="col-md-4 col-sm-4">
                    <div class="team-member">
                        <div class="thumb-post">
                            <img src="{{ ASSET_PATH }}/images/includes/member2.jpg" alt="">
                            <span class="member-role">Web Developer</span>
                        </div>
                        <div class="member-content">
                            <h4 class="member-name">Candy Sharp</h4>

                            <p>Duis vitae consequat neque. Nulla pharetra eleifend nulla. </p>
                        </div>
                    </div>
                    <!-- /.team-member -->
                </div>
                <!-- /.col-md-4 -->

                <div class="col-md-4 col-sm-4">
                    <div class="team-member">
                        <div class="thumb-post">
                            <img src="{{ ASSET_PATH }}/images/includes/member3.jpg" alt="">
                            <span class="member-role">Graphic Designer</span>
                        </div>
                        <div class="member-content">
                            <h4 class="member-name">Linda Master</h4>

                            <p>Duis vitae consequat neque. Nulla pharetra eleifend nulla. </p>
                        </div>
                    </div>
                    <!-- /.team-member -->
                </div>
                <!-- /.col-md-4 -->

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.team-members -->
</section>
<!-- /.our-team -->

<section id="blogPosts" class="parallax">
    <div class="parallax-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h2 class="section-title">Recent from our blog</h2>

                        <p class="section-desc">Everything you need to create a professional website.</p>
                    </div>
                    <!-- /.section-header -->
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
            <div class="row latest-posts">
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post clearfix">
                        <div class="thumb-post">
                            <a href="blog-single.html">
                                <img src="{{ ASSET_PATH }}/images/includes/blogthumb1.jpg" alt="" class="img-circle">
                            </a>
                        </div>
                        <div class="blog-post-content">
                            <h4 class="post-title"><a href="blog-single.html">Getting Creative With the Google Maps
                                API</a></h4>
                            <span class="meta-post-date">12 February 2084</span>
                        </div>
                    </div>
                    <!-- /.blog-post -->
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post clearfix">
                        <div class="thumb-post">
                            <a href="blog-single.html">
                                <img src="{{ ASSET_PATH }}/images/includes/blogthumb2.jpg" alt="" class="img-circle">
                            </a>
                        </div>
                        <div class="blog-post-content">
                            <h4 class="post-title"><a href="blog-single.html">Design Deliverables – easily share
                                project</a></h4>
                            <span class="meta-post-date">10 February 2084</span>
                        </div>
                    </div>
                    <!-- /.blog-post -->
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6">
                    <div class="blog-post clearfix">
                        <div class="thumb-post">
                            <a href="blog-single.html">
                                <img src="{{ ASSET_PATH }}/images/includes/blogthumb3.jpg" alt="" class="img-circle">
                            </a>
                        </div>
                        <div class="blog-post-content">
                            <h4 class="post-title"><a href="blog-single.html">Using Templates to Get Your Clients
                                Thinking</a></h4>
                            <span class="meta-post-date">8 February 2084</span>
                        </div>
                    </div>
                    <!-- /.blog-post -->
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.parallax-overlay -->
</section>
<!-- /#blogPosts -->

{% include themes/medigo/footer.html %}
</body>
</html>