<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="baidu-site-verification" content="MCykuGqiPQ"/>
<meta name="keywords" content="Fukas's blog!, Fukas, sunfuchang, {{page.tags | join: ','}}"/>
<meta name="description" content="Fukas's blog!, Fukas, {{ page.description }}"/>

<title>{% if page.title_cn %} {{page.title_cn}} {% else %} {{page.title}} {% endif %}</title>

<meta name="author" content="{{ site.author.name }}">
<!-- Enable responsive viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- sina weibo -->
<meta property="wb:webmaster" content="01d60bef1678aca3"/>

<!-- google fonts -->
<!--<link href="http://fonts.useso.com/css?family=PT+Serif:400,700,400italic,700itali" rel="stylesheet">-->
<!--<link href="http://fonts.useso.com/css?family=Raleway:400,900,800,700,500,200,100,600" rel="stylesheet">-->

<!-- Bootstrap styles -->
<link rel="stylesheet" href="{{ ASSET_PATH }}/bootstrap/bootstrap.css">
<link rel="stylesheet" href="{{ ASSET_PATH }}/css/misc.css">
<link rel="stylesheet" href="{{ ASSET_PATH }}/css/blue-scheme.css">
<link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all">
<!-- syntax css -->
<link href="/assets/css/main.css" rel="stylesheet" type="text/css" media="all">
<link href="/assets/css/normalize.css" rel="stylesheet" type="text/css" media="all">
<link href="/assets/css/syntax.css" rel="stylesheet" type="text/css" media="all">
<link href="/assets/css/pygment_trac.css" rel="stylesheet" type="text/css" media="all">
<link href="/assets/css/stylesheet.css" rel="stylesheet" type="text/css" media="all">

<!-- JavaScripts -->
<script src="{{ ASSET_PATH }}/js/jquery-1.10.2.min.js"></script>
<script src="{{ ASSET_PATH }}/js/jquery-migrate-1.2.1.min.js"></script>

<link rel="shortcut icon" href="{{ ASSET_PATH }}/images/favicon.ico" type="image/x-icon"/>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
<!--<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>-->
<![endif]-->

<!-- atom & rss feed -->
<link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate"
      title="Sitewide ATOM Feed">
<link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate"
      title="Sitewide RSS Feed">	