<div class="first-widget parallax" style="background-image: url('{{ASSET_PATH}}/images/includes/blogbg{{page.title | size | modulo:5}}.jpg')" id="blogId">
    <div class="parallax-overlay">
        <div class="container pageTitle">
            <div class="row">
                 <div class="col-md-6 col-sm-6">
                    <h2 class="page-title">淘尽天下育儿经</h2>
                </div> 
                <!-- /.col-md-6 -->
                 <div class="col-md-6 col-sm-6 text-right">
                    <span class="page-location">用心让宝宝过得更好 给予宝宝更好的爱 </span>
                </div> 
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.parallax-overlay -->
</div> <!-- /.pageTitle -->